.bootstrap-datetimepicker-widget tr:hover {
    background-color: #808080;
}

.iconglobal {
    font-size: 150px;
    text-align: center;
    width:300px;
    opacity: 0.5;
}

.centrar{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datoglobal{
    font-weight: 600;
    font-size: 4em;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.datoglobal:hover{
    opacity: 1;
    cursor: default;
}

.full {
    color: #2ecc71;
    opacity: 1;
}

.empty {
    color: #f39c12;
    opacity: 1;
}

.fullp:before {
    text-align: center;
    content: "Batería: OK";
}

.emptyp:before{
    text-align: center;
    content: "Batería: Necesita cambio";
}

.update_button {
    text-align: center;
    background: #2ecc71;
    width: 150px;
    margin: auto;
    padding: 1em 0em;
    border-radius: 1em;
    cursor: pointer;
    color: aliceblue;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.update_button:hover {
    background: #27ae60;
}

.year {
    cursor: pointer;
}

.month {
    cursor: pointer;
}

.week {
    cursor: pointer;
}

.season-btn {
    text-align: center;
    display: flex;
    justify-content: center;
}

.season-btn li {
    list-style: none;
    display: inline;
    cursor: pointer;
    font-size: 1.5em;
    padding:0.5em 1.2em;
    margin: 0 5px;
    border-radius: 0.5em;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    transition:0.3s;
}

.primavera-btn {
    background: #2ecc71;
}

.primavera-btn:hover {
    background: #27ae60;
}

.verano-btn {
    background: #f1c40f;
}

.verano-btn:hover{
    background: #f39c12;
}

.otono-btn {
    background: #e67e22;
}

.otono-btn:hover {
    background: #d35400;
}

.invierno-btn {
    background: #bdc3c7;
}

.invierno-btn:hover {
    background: #95a5a6;
}

.show {
    display: block;
}

.hide {
    display: none;
}