.iconglobal {
    font-size: 150px;
    text-align: center;
    width:300px;
    opacity: 0.5;
}

.centrar{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datoglobal{
    font-weight: 600;
    font-size: 4em;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.datoglobal:hover{
    opacity: 1;
    cursor: default;
}

.full {
    color: #2ecc71;
    opacity: 1;
}

.empty {
    color: #f39c12;
    opacity: 1;
}

.fullp:before {
    text-align: center;
    content: "Batería: OK";
}

.emptyp:before{
    text-align: center;
    content: "Batería: Necesita cambio";
}

.update_button {
    text-align: center;
    background: #2ecc71;
    width: 150px;
    margin: auto;
    padding: 1em 0em;
    border-radius: 1em;
    cursor: pointer;
    color: aliceblue;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.update_button:hover {
    background: #27ae60;
}
