<!DOCTYPE html>
<html lang="es">
<html>
	<head>
		<title>Greenhouse Monitoring | LiSANDRA WSN</title><!--Titulo de mi web-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,maxium-scale=1,minum-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/fontello.css">
	<link rel="stylesheet" type="text/css" href="css/main.css"/>	
	<link rel="stylesheet" type="text/css" href="js/amcharts/plugins/export/export.css" media="all"/>		
	</head>
	
	<body>
       <!--Menu Header-->
       <div class="container">
           <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="index.html" class="navbar-brand">LiSANDRA</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="configuracion.html">Configuración <span class="glyphicon glyphicon-cog"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
           </header>
        </div>
        <!--Datos generales donde se muestra la media de todos los sensores-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="center-block" style="width:240px;">{{ title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                   <div style="position:relative;">
                        <span class="icon-sun center-block iconglobal" style="color:#f1c40f"></span>
                        <p class="centrar datoglobal">1700 lx</p>
                   </div>
                    
                </div>
                <div class="col-sm-12 col-md-4">
                    <span class="icon-temperatire center-block iconglobal" style="color:#e74c3c;"></span>
                    <p class="centrar datoglobal">36°C</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <span class="icon-water center-block iconglobal" style="color:#3498db;"></span>
                    <p class="centrar datoglobal">85%</p>
                </div>
            </div>
            <br>
        </div>
        <!--Muestra de graficos por sensor-->
        <main style="background:#ecf0f1">
            
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2 class="center-block" style="width:250px;">Datos Graficados:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-default" id="year">Año</button>
                        <button class="btn btn-default" id="season">Estaciones</button>
                        <button class="btn btn-default" id="month">Mes</button>
                        <button class="btn btn-default" id="week">Semana</button>
                        <button class="btn btn-default" id="day">Día</button>
                    </div>
                    <div style="display:none" id="chartdiv"></div>
                </div>
            </div>
        </div>
        <br>
        </main>
        <!--Muestra si los dispositivos tienen bateria-->
        <div class="container">
            <div class="row">
                 <div class="col-xs-12">
                    <h2 class="center-block" style="width:240px; text-align:center;">Energía:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h4 style="text-align:center">LiSANDRA 1:</h4>
                    <span class="icon-flash center-block iconglobal full"></span>
                    <p class="fullp" id="status" style="text-align:center"></p>
                    <h6 class="update_button">Cambio Realizado</h6>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4 style="text-align:center">LiSANDRA 2:</h4>
                    <span class="icon-flash center-block iconglobal full"></span>
                    <p class="fullp" id="status" style="text-align:center"></p>
                    <h6 class="update_button">Cambio Realizado</h6>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4 style="text-align:center">LiSANDRA 3:</h4>
                    <span class="icon-flash center-block iconglobal empty"></span>
                    <p class="emptyp" id="status" style="text-align:center"></p>
                    <h6 class="update_button">Cambio Realizado</h6>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default" style="text-align:center;">
          <div class="panel-body">UABC LiSANDRA 2016</div>
          <div class="panel-footer">LiSANDRA Project</div>
        </div>        
	    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script><!--Must be at the top, since bootstrap use it-->
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/amcharts/amcharts.js"></script>
        <script src="js/amcharts/serial.js"></script>
        <script src="js/amcharts/amstock.js"></script>
        <script src="js/amcharts/plugins/export/export.min.js"></script>        
        <script src="js/amcharts/themes/light.js"></script>
        <script src="js/line_chart_stock.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                /*Funcion general para cambiar la clases de los botones a estado OK*/
                $('.update_button').on('click',function(){
                    $(this).prev().removeClass("emptyp").addClass("fullp");
                    $(this).prev().prev().removeClass("empty").addClass("full");
                })
                
                
            });
        </script>
	</body>
</html>
